# Programming Assignment 2
### Thomas Mackin
#### Version 1
#### CS-150-01 Fall 2022

### append()
* When you append an item into a list it is added to the end of the list

In [1]:
cars=['Honda','Ferrari','Mercedes','Renault']
print(cars)

['Honda', 'Ferrari', 'Mercedes', 'Renault']

In [2]:
cars.append('Ford')
cars.append('Chevorlet')
cars.append('Dodge')
print(cars)

['Honda', 'Ferrari', 'Mercedes', 'Renault', 'Ford', 'Chevorlet', 'Dodge']

### extend()
* Used to add a different list to the end of another list

In [3]:
print(cars)

['Honda', 'Ferrari', 'Mercedes', 'Renault', 'Ford', 'Chevorlet', 'Dodge']

In [4]:
more_cars=('Tesla','Rivian','Polaris')
print(more_cars)

('Tesla', 'Rivian', 'Polaris')

In [5]:
cars.extend(more_cars)
print(cars)

['Honda', 'Ferrari', 'Mercedes', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Tesla', 'Rivian', 'Polaris']

### insert()
* When you insert a new item into a list you can choose where to place the new item

In [6]:
print(cars)

['Honda', 'Ferrari', 'Mercedes', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Tesla', 'Rivian', 'Polaris']

In [7]:
cars.insert(0,'Lotus')
print(cars)

['Lotus', 'Honda', 'Ferrari', 'Mercedes', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Tesla', 'Rivian', 'Polaris']

In [8]:
cars.insert(4,'Audi')
print(cars)

['Lotus', 'Honda', 'Ferrari', 'Mercedes', 'Audi', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Tesla', 'Rivian', 'Polaris']

In [9]:
cars.insert(9,'Porsche')
print(cars)

['Lotus', 'Honda', 'Ferrari', 'Mercedes', 'Audi', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

### remove()
* Used when you want to remove any item from a list

In [10]:
print(cars)

['Lotus', 'Honda', 'Ferrari', 'Mercedes', 'Audi', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [11]:
cars.remove('Honda')
print(cars)

['Lotus', 'Ferrari', 'Mercedes', 'Audi', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [12]:
cars.remove('Ferrari')
print(cars)

['Lotus', 'Mercedes', 'Audi', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [13]:
cars.remove('Mercedes')
print(cars)

['Lotus', 'Audi', 'Renault', 'Ford', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [14]:
cars.remove('Renault')
print(cars)

['Lotus', 'Audi', 'Ford', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

### count()
* Count is used to show how often an item is in a list

In [15]:
print(cars)

['Lotus', 'Audi', 'Ford', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [16]:
count=cars.count('Lotus')
print("Lotus is in this list",count,"times")

Lotus is in this list 1 times

In [17]:
count=cars.count('Polaris')
print("Polaris is in this list",count,"times")

Polaris is in this list 1 times

In [18]:
count=cars.count('Porsche')
print("Porsche is in this list",count,"times")

Porsche is in this list 1 times

### index()
* Index is used to identify the position of an item in a list

In [19]:
print(cars)

['Lotus', 'Audi', 'Ford', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [20]:
print(cars[0])

Lotus

In [21]:
print(cars[2])

Ford

In [22]:
print(cars[-1])

Polaris

In [23]:
print(cars[-3])

Tesla

### pop()
* When you want to delete an item from a list but want to use it again in another list

In [24]:
deleted_cars=cars.pop(2)
print("The deleted car is:",deleted_cars)
print("The edited cars list is: ",cars)

The deleted car is: Ford
The edited cars list is:  ['Lotus', 'Audi', 'Chevorlet', 'Dodge', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [25]:
deleted_cars=cars.pop(3)
print("The deleted car is:",deleted_cars)
print("The edited cars list is: ",cars)

The deleted car is: Dodge
The edited cars list is:  ['Lotus', 'Audi', 'Chevorlet', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [26]:
deleted_cars=cars.pop(2)
print("The deleted car is:",deleted_cars)
print("The edited cars list is: ",cars)

The deleted car is: Chevorlet
The edited cars list is:  ['Lotus', 'Audi', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

### sorted()
* When you want to sort the items in your list
* Using .sort permanently sorts the list

In [27]:
print(cars)

['Lotus', 'Audi', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [28]:
sorted(cars)
print(cars)

['Lotus', 'Audi', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [29]:
print(cars)

['Lotus', 'Audi', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [30]:
cars.reverse()
print(cars)

['Polaris', 'Rivian', 'Tesla', 'Porsche', 'Audi', 'Lotus']

In [31]:
cars.reverse()
print(cars)

['Lotus', 'Audi', 'Porsche', 'Tesla', 'Rivian', 'Polaris']

In [32]:
cars.sort()
print(cars)

['Audi', 'Lotus', 'Polaris', 'Porsche', 'Rivian', 'Tesla']

### copy()
* Used when you want to make a copy of a list that is seperate from the original

In [33]:
print(cars)

['Audi', 'Lotus', 'Polaris', 'Porsche', 'Rivian', 'Tesla']

In [34]:
copied_cars=cars.copy()
print("The original list is:",cars)
print("The copied list is:",copied_cars)

The original list is: ['Audi', 'Lotus', 'Polaris', 'Porsche', 'Rivian', 'Tesla']
The copied list is: ['Audi', 'Lotus', 'Polaris', 'Porsche', 'Rivian', 'Tesla']

In [35]:
copied_cars.reverse()
print(copied_cars)

['Tesla', 'Rivian', 'Porsche', 'Polaris', 'Lotus', 'Audi']

In [36]:
print(cars)

['Audi', 'Lotus', 'Polaris', 'Porsche', 'Rivian', 'Tesla']

### clear()
* Used when you want to remove all items from a list

In [37]:
print(copied_cars)

['Tesla', 'Rivian', 'Porsche', 'Polaris', 'Lotus', 'Audi']

In [38]:
copied_cars.clear()
print(copied_cars)

[]

### list()
* Used to make an item into its own list

In [39]:
favorite_car="Lotus"

In [40]:
favorite_car_list=list(favorite_car)
print(favorite_car_list)

['L', 'o', 't', 'u', 's']

### len()
* Used when you want to find the length of a list

In [41]:
print(cars)

['Audi', 'Lotus', 'Polaris', 'Porsche', 'Rivian', 'Tesla']

In [42]:
len(cars)

6

### max()
* Used to find the largest item in a list of items

In [43]:
print(cars)

['Audi', 'Lotus', 'Polaris', 'Porsche', 'Rivian', 'Tesla']

In [44]:
max(cars)

'Tesla'

In [45]:
max_car=max(cars)
print("The largest item in the cars list is:",max_car)

The largest item in the cars list is: Tesla

### min()
* Used to find the smallest item in a list of items

In [46]:
print(cars)

['Audi', 'Lotus', 'Polaris', 'Porsche', 'Rivian', 'Tesla']

In [47]:
min(cars)

'Audi'

In [48]:
min_car=min(cars)
print("The smallest item in the cars list is:",min_car)

The smallest item in the cars list is: Audi